{{- $superUser := "qc_master" }}
{{- $superPass := getv "/cluster/app_id" | base64Encode }}
{{- $rootUser := "root" }}
{{- $rootPass := getv "/env/passwd" }}
{{- $mongoPort := getv "/env/port" "27017" }}
{{- $mongoKeyFile := "/data/mongodb/conf/key" }}
{{- $mongoRsName := getv "/env/rsName" "foobar" }}
{{- $allInstanceIds := lsdir "/hosts/replica" }}
{{- $leavingInstanceIds := lsdir "/deleting-hosts/replica" }}
{{- $joiningInstanceIds := lsdir "/adding-hosts/replica" }}

allNodes="$(sort -V << ALL_NODES_EOF
{{- range $allInstanceIds }}
{{- if $joiningInstanceIds | filter . }}
joining/{{ getv (printf "/adding-hosts/replica/%s/sid" .) }}/{{ getv (printf "/adding-hosts/replica/%s/node_id" .) }}/{{ getv (printf "/adding-hosts/replica/%s/ip" .) }}
{{- else if $leavingInstanceIds | filter . }}
leaving/{{ getv (printf "/deleting-hosts/replica/%s/sid" .) }}/{{ getv (printf "/deleting-hosts/replica/%s/node_id" .) }}/{{ getv (printf "/deleting-hosts/replica/%s/ip" .) }}
{{- else }}
stable/{{ getv (printf "/hosts/replica/%s/sid" .) }}/{{ getv (printf "/hosts/replica/%s/node_id" .) }}/{{ getv (printf "/hosts/replica/%s/ip" .) }}
{{- end }}
{{ end }}
ALL_NODES_EOF
)"

flush /opt/app/current/bin/envs/node.env << NODE_ENV_EOF
NODE_CTL=replica
DATA_MOUNTS=/data
MY_IP={{ getv "/host/ip" }}
MY_SID={{ getv "/host/sid" }}
GLOBAL_UUID={{ getv "/cluster/global_uuid" }}
SERVICES="\$SERVICES mongod/true/tcp:{{ $mongoPort }}"
MONGO_SU_NAME={{ $superUser }}
MONGO_SU_PASS={{ $superPass }}
MONGO_USER_ROOT="root"
MONGO_USER_CUSTOM={{ getv "/env/user" }}
MONGO_USER_PASSWD={{ getv "/env/passwd" }}
MONGO_PORT={{ $mongoPort }}
MONGO_KEY_FILE={{ $mongoKeyFile }}
MONGO_RS_NAME={{ $mongoRsName }}
STABLE_NODES=($(echo "$allNodes" | grep ^s | cut -d/ -f2-))
JOINING_NODES=($(echo "$allNodes" | grep ^j | cut -d/ -f2-))
LEAVING_NODES=($(echo "$allNodes" | grep ^l | cut -d/ -f2-))
NODE_ENV_EOF
