reloadConfFile=/opt/app/current/conf/mongodb/reload.conf

flush $reloadConfFile << RELOAD_CONF_EOF
reloadRsHosts={{ getv "/env/port" }}
RELOAD_CONF_EOF

flush /opt/app/current/bin/envs/reload.env << RELOAD_CMD_EOF
RELOAD_COMMANDS="$(diff --unchanged-line-format= --old-line-format= --new-line-format='%L' $reloadConfFile.1 $reloadConfFile | cut -d= -f1 | xargs)"
RELOAD_CMD_EOF
